<!doctype html>
<html class="no-js" lang="en">
<head>
    <!-- title -->
    <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ThemeZaa">
    <!-- description -->
    <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
    <!-- favicon -->
    <link rel="shortcut icon" href="front/images/favicon.png">
    <link rel="apple-touch-icon" href="front/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="front/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="front/images/apple-touch-icon-114x114.png">
    <!-- animation -->
    <link rel="stylesheet" href="front/css/animate.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="front/css/bootstrap.min.css" />
    <!-- et line icon -->
    <link rel="stylesheet" href="front/css/et-line-icons.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="front/css/font-awesome.min.css" />
    <!-- themify icon -->
    <link rel="stylesheet" href="front/css/themify-icons.css">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="front/css/swiper.min.css">
    <!-- justified gallery  -->
    <link rel="stylesheet" href="front/css/justified-gallery.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="front/css/magnific-popup.css" />
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="front/revolution/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="front/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="front/revolution/css/navigation.css">
    <!-- bootsnav -->
    <link rel="stylesheet" href="front/css/bootsnav.css">
    <!-- style -->
    <link rel="stylesheet" href="front/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="front/css/responsive.css" />
    <!--[if IE]>
        <script src="front/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- start header -->
    <header>
        <!-- start navigation -->
        <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light background-transparent nav-box-width white-link navbar-expand-lg">
            <div class="container nav-header-container">
                <!-- start logo -->
                <div class="col-auto pl-lg-0">
                    <a href="front/index.html" title="Pofo" class="logo"><img src="front/images/logo.png" data-rjs="images/logo@2x.png" class="logo-dark" alt="Pofo"><img src="front/images/logo-white.png" data-rjs="images/logo-white@2x.png" alt="Pofo" class="logo-light default"></a>
                </div>
                <!-- end logo -->
                <div class="col-auto col-lg accordion-menu pr-lg-0">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                        <ul class="nav navbar-nav alt-font font-weight-700">
                            <li><a href="front/#home" title="Home" class="inner-link">Home</a></li>
                            <li><a href="front/#about" title="About" class="inner-link">About</a></li>
                            <li><a href="front/#services" title="Services" class="inner-link">Services</a></li>
                            <li><a href="front/#work" title="Work" class="inner-link">Work</a></li>
                            <li><a href="front/#team" title="Team" class="inner-link">Team</a></li>
                            <li><a href="front/#blog" title="Blog" class="inner-link">Blog</a></li>
                            <li><a href="front/#clients" title="Clients" class="inner-link">Clients</a></li>
                            <li><a href="front/#contact" title="Contact" class="inner-link">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <!-- start footer -->
    <footer class="footer-strip bg-light-gray padding-50px-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row align-items-center">
                <!-- start logo -->
                <div class="col-md-3 text-center text-lg-left sm-margin-20px-bottom">
                    <a href="front/index.html"><img class="footer-logo" src="front/images/logo.png" data-rjs="images/logo@2x.png" alt="Pofo"></a>
                </div>
                <!-- end logo -->
                <!-- start copyright -->
                <div class="col-md-6 text-center text-small alt-font sm-margin-10px-bottom">
                    &copy; 2019 POFO is Proudly Powered by <a href="front/http://www.themezaa.com/" target="_blank" title="ThemeZaa">ThemeZaa</a>.
                </div>
                <!-- end copyright -->
                <!-- start social media -->
                <div class="col-md-3 text-center text-lg-right">
                    <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                        <ul class="small-icon mb-0">
                            <li><a class="facebook text-black" href="front/https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a class="twitter text-black" href="front/https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="google text-black" href="front/https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a class="dribbble text-black" href="front/https://dribbble.com/" target="_blank"><i class="fab fa-dribbble mr-0" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- end social media -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="front/javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="front/js/jquery.js"></script>
    <script type="text/javascript" src="front/js/modernizr.js"></script>
    <script type="text/javascript" src="front/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="front/js/jquery.easing.1.3.js"></script>

    <script type="text/javascript" src="front/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="front/js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="front/js/bootsnav.js"></script>
    <script type="text/javascript" src="front/js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="front/js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="front/js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="front/js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="front/js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="front/js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="front/js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="front/js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="front/js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="front/js/classie.js"></script>
    <script type="text/javascript" src="front/js/hamburger-menu.js"></script>
    <!-- counter  -->
    <script type="text/javascript" src="front/js/counter.js"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="front/js/jquery.fitvids.js"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="front/js/skill.bars.jquery.js"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="front/js/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="front/js/jquery.easypiechart.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="front/js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="front/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="front/revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <script type="text/javascript" src="front/js/main.js"></script>
</body>

<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Jun 2021 07:26:37 GMT -->
</html>